*{
    box-sizing: border-box;
}

header{
    height: 200px;
    display: flex;
    background-image: linear-gradient(to right, #060d36 , #051052);
    align-items: center;

}

header > img {
    height: 80%;
    margin-left: 20%;;
}

header > p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    color: white;
    margin-left: 40px;
    text-shadow: 5px 5px black;
}

